/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
.board {
    border: 10px solid gray;
    text-align: center;
    width: 25vw;
    height: 25vw;
    margin: auto;
}

.board-cell {
    height: 12.5%;
    width: 12.5%;
    max-height: 100vw;
    max-width: 100vw;
    float: left;
    padding: 0;
    margin: auto;
}

.chess-piece-image {
    width: 100%;
    height: 100%;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;      
}

.white-pawn { background-image: url(assets/white_pawn.png); }
.white-bishop { background-image: url(assets/white_bishop.png); }
.white-king { background-image: url(assets/white_king.png); }
.white-queen { background-image: url(assets/white_queen.png); }
.white-knight { background-image: url(assets/white_knight.png); }
.white-rook { background-image: url(assets/white_rook.png); }

.black-pawn { background-image: url(assets/black_pawn.png); }
.black-bishop { background-image: url(assets/black_bishop.png); }
.black-king { background-image: url(assets/black_king.png); }
.black-queen { background-image: url(assets/black_queen.png); }
.black-knight { background-image: url(assets/black_knight.png); }
.black-rook { background-image: url(assets/black_rook.png); }